#frame{
 border: 10px solid #DDFFAA;
 width: 395px;
 height: 520px;
 box-shadow: 0px 0px 200px yellow;
 margin: auto;
 padding: 0;
 box-sizing: border-box;
 overflow: hidden;
}
#frame img{
 cursor: pointer;
 transition: transform 2s;
}
#frame:hover img{
 transform: rotate(-2deg) scale(1.4,1.4) translate(-20px, 50px);
}
#rotated {
 height: 380px;
 width: 505px;
 margin-left: -62px;
 transition: transform 2s;
 position: relative;
}
#frame:hover #rotated{
 transform: rotate(270deg)  translateX(446px);
}
#text{
 background-color: green;
 text-align: center;
 height: 35px;
 line-hight: 35px;
 font-size: 24px;
 color: white;
 opacity: 0.8;
 position: absolute;
 margin-top: 340px;
 width: 100%;
}
